@using Microsoft.AspNetCore.Http
@using Nerve.Repository.Enums
@inject Nerve.Web.Translation.ILanguageTranslator _languageTranslator
@{
    ViewData["Title"] = "Home Page";
    var welcome = await _languageTranslator
        .TranslateAsync(LanguageKeys.WelcomeToNerveLogistics, (LanguageType)Context.Session.GetInt32(WebConstants.SessionKeys.Language));
}

@{ var persianFont = Context.Session.GetInt32(WebConstants.SessionKeys.Language).Value == (int)LanguageType.Farsi ? "persion-font-size" : "";}
<div class="home-welcome-text @persianFont"><h2>@welcome</h2></div>