/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
p {
    margin: 0 !important;
}

.panel {
    margin-bottom: 5px !important;
}

.footer {
    position: absolute;
    border-top: solid 1px lightgray;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    .footer p {
        padding-top: 5px;
        margin-bottom: 0 !important;
    }

.home-welcome-text {
    padding-top: 15%;
    text-align: center;
}

.persian-font-size {
    font-size: 14pt !important;
}

.form-control, .panel-default, .btn {
    border-radius: 0 !important;
}

.checkbox-inline {
    padding-left: 0 !important;
}

textarea {
    min-height: 80px;
}

.btn-primary {
    background-color: #d3a337 !important;
    border-color: #d3a337 !important;
}

.form-control-feedback {
    right: 15px !important;
    pointer-events: auto !important;
}

.main-container {
    width: 100%;
}

.panel-body {
    padding: 5px !important;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.row-space {
    padding-top: 5px;
}

.inner-row {
    padding-right: -15px;
    padding-left: -15px;
}

.normal-row {
    padding-right: 0!important;
    padding-left: 0!important;
}


.right-space-10 {
    padding-right: 10px;
}

.top-margin-10 {
    margin-top: 10px;
}

.no-left-padding {
    padding-left: 0 !important;
}

#device-login .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#device-login .tab-content {
    background-color: #f5f5f5;
    padding: 5px;
}

.cursor {
    cursor: pointer;
}

.bs-glyphicons {
    margin: 0 0 10px;
    overflow: hidden;
    background-color: #f5f5f5;
}

    .bs-glyphicons .glyphicon {
        font-size: 15px;
    }

    .bs-glyphicons .glyphicon-class {
        display: inline-flex;
        text-align: center;
        word-wrap: break-word;
        vertical-align: middle;
    }

.glyphicon-class label {
    padding-left: 5px;
}

.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bs-glyphicons-list {
    padding: 5px;
    list-style: none;
}

.bs-glyphicons li a {
    float: left;
    width: auto;
    height: auto;
    padding: 10px 1px 5px 25px;
    font-size: 12px;
    background-color: #e7f0f4;
    border: 1px solid #fff;
    margin-bottom: 5px;
    word-break: break-word;
    min-width: 100px;
    margin-right: 3px;
}

    .bs-glyphicons li a:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0C6D2C;
        text-decoration: none;
    }

.notification-message {
    padding-left: 20px;
    padding-top: 5px;
    text-wrap: normal;
}

.notification-icon {
    padding-left: 10px;
    font-size: x-large;
    float: left;
    padding-right: 10px;
}

.model-title-header {
    vertical-align: text-bottom;
    font-size: 20px;
    padding-top: 2px;
}

.spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.91);
    top: 0;
    opacity: .8;
    z-index: 1000;
}

.spinner-content {
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 15px 35px 10px 35px;
    opacity: 1;
}

.hide {
    display:none;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.no-records-message {
    padding: 20px;
    text-align: center;
    font-style:initial;
}

.popup-grid-container {
    max-height: 250px;
    overflow-x: auto;
}

input[readonly] {
    background-color: #f5f5f5 !important;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    top: 30vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 10%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

    .notfound .notfound-404 {
        height: 280px;
        position: relative;
        z-index: -1;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 230px;
            margin: 0px;
            font-weight: 900;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: url('../images/bg.jpg') no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-position: center;
        }


    .notfound h2 {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
    }

    .notfound p {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .notfound a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: #00d57e;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
        color: #fff;
        font-weight: 700;
        -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
        box-shadow: 0px 4px 15px -5px #0046d5;
    }


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }

        .notfound .notfound-404 h1 {
            font-size: 112px;
        }
}

input[type=radio], input[type=checkbox] {
    margin: 10px 0 0 !important;
    line-height: normal;
}