<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Nerve.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <!--<defaultDocument>
        <files>
          <clear/>
          <add value="login.cshtml" />
        </files>
      </defaultDocument>-->
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 95390c1d-9e81-4e68-b5dd-df746bb55370-->