@model Nerve.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>500 - Internal Server Error</h2>
        <p>The page unable to process your request. Something went wrong while processing your requested operation.</p>
        <a asp-action="Index" asp-controller="Home">Go To Homepage</a>
    </div>
</div>