@model Nerve.Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>500 - Internal Server Error</h2>
        <p>The page unable to process your request. Something went wrong while processing your requested operation.</p>
        <a asp-action="Index" asp-controller="Home">Go To Homepage</a>
    </div>
</div>
@if (TempData["Error"] != null && Convert.ToBoolean(TempData["ShowPageError"]) == true)
{
    <style>
        .error {
            top: 430px;
            position: absolute;
        }

        .list {
            list-style-type: none;
        }
    </style>
    <div class="panel-body error">
        <ul class="list">
            <li><b>Controller</b> : @Convert.ToString(TempData["Controller"])</li>
            <li><b>Action</b> : @Convert.ToString(TempData["Action"])</li>
            <li><b>Exception</b> : @Convert.ToString(TempData["Error"])</li>
        </ul>
    </div>
}